<div class="centrado form">
    <h5>Login</h5>

    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="user.email">
        <label for="floatingInput">Correo</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="user.password">
        <label for="floatingPassword">Contraseña</label>
    </div>
    <span style="color: red" *ngIf="error.res">{{error.mensaje}}</span>
    <div class="d-grid p-3 mx-auto">
        <button class="btn btn-danger" type="button" (click)="iniciarSesion()">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="cargando"></span>
            <span *ngIf="!cargando">
                Iniciar Sesion
            </span>
        </button>
    </div>
    <div class="d-grid p-2 mx-auto">
        <span class="mx-auto">No tienes cuenta? <a href="signin">Registrarse</a></span>
    </div>
</div>